*{
    margin: 0px;
}

.Barra_menu{
    display: flex ;
    background-color: #000000;
    border: 1px solid #000000;
    height: 62px;
    line-height: 62px;
}

.botones_menu{
    padding: 5px;
    text-decoration:none;
    color: aliceblue;
    font-family:monospace;
} 

.menu{
    margin-top: 30px;
    margin-left: 60px;
    display: flex;
}

.menu2{
    text-decoration: none;
    color: black;
}